*{
    padding: 0;
    margin: 0 auto;
    max-width: 2400px;
}

html, body {
    background-color: #0A0F19;
    font-family: "PT Sans", sans-serif;
    color: #fff;
}

.contenedor {
    display: flex;
    justify-content: space-between; /* separa los elementos */
    align-items: center; /* alínea verticalmente */
    padding: 1rem;
}

.nav {
    display: flex;
    align-items: left;
    font-weight: 700;
    font-style: normal;
}

.nav a {
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 4px;
}

.nav a:hover {
    color: #9fd67b;
}

.titulo {
    padding: 0.5rem 3rem;
    font-size: 1rem;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    margin: 3rem auto 1rem auto; /* top, right, bottom, left */
    display: block;
    width: fit-content;
}

.texto {
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin: 0 auto 3rem auto; /* top, right, bottom, left */
    display: block;
    width: fit-content;
}
